<div id="ticket">
    <header>
        <h1><%= @project.name %></h1>
    </header>

    <header>
        <h2><%= @ticket.name %></h2>
    </header>

        <ul class="actions">
            <table id="attributes">
            <th>Author:</th>
        <td><%= @ticket.author.email %></td>
        </tr>
        <tr>
            <th>Created:</th>
            <td><%= time_ago_in_words(@ticket.created_at) %> ago</td>
        </tr>
        
        <% if @ticket.state.present?%>
            <tr>
                <th>State:</th>
                <td><%=render @ticket.state %></td>
            </tr>
        <%end%>

        <% if @ticket.tags.any? %>
            <tr id="tags">
                <th>Tags:</th>
                <td><%= render @ticket.tags%></td>
            </tr>
        <%end%>
        </table>


        </table>
            <li><%= link_to "Edit Ticket", [:edit, @project, @ticket], class: "edit"%>
            </li>
            <li><%= link_to "Delete Ticket", [@project, @ticket], method: :delete, data: {confirm: "Are you really sure?"}, class: "delete"%></li>
            </ul>
            
    <%= simple_format(@ticket.description)%>
    </br>
    <% if @ticket.attachments.any?%>
        <h4>Attachments</h4>
        <div class="attachments">
            <% @ticket.attachments.each do |attachment|%>
            <p>
                <%= link_to File.basename(attachment.file.url), attachment_path(attachment)%>
                (<%= number_to_human_size(attachment.file.size)%>)
            <%end%>
            </p>
</div>
<%end%>

 <p> 
    <%= link_to "Add another file", new_attachment_path, remote:true, id: "add_file", data: { params: { index: @ticket.attachments.size } }%>
  
    </p>


    </br>
<header>
    <h3>Comments</h3>
</header>

<div id="comments">
    <% if @ticket.comments.persisted.any?%>
        <%= render @ticket.comments.persisted %>
    <%else%>
        <p>There are no comments for this ticket. </p>
    <%end%>
    </div>
   <%= render "comments/form", ticket: @ticket, comment: @comment%>


